.wrapper {
  display: flex;
  padding: 12px;
  gap: 12px;
  color: var(--primary-color-black);
  border-bottom: 1px solid var(--secondary-color-fon);
  cursor: pointer;
}

.wrapper:hover {
  background-color: var(--secondary-color-fon-50);
}

.bodyWrapper {
  flex: 1 1 auto;
  /* background-color: bisque; */
  padding-top: 8px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.imageWrapper {
  position: relative;
  width: 80px;
  height: 80px;
  padding: 6px;
  border-radius: 50%;
  border: 2px solid var(--secondary-color-fon);
  display: block;
  &:after {
    position: absolute;
    content: "";
    background-color: #38cd3e;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    top: 10px;
    right: 10px;
  }
}

.image {
  border-radius: 50%;
  display: block;
}

.btnWrapper {
  display: flex;
  justify-content: end;
  gap: 12px;
  margin-top: 8px;
}

.btn {
  padding: 4px 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--secondary-color-fon);
  &&:hover {
    background-color: var(--primary-color-fon);
  }
}

.lastMessage {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 350px;
  height: 24px;
}
